@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


.Home{
    background-color: beige;
    height: 100vh;
    display: flex;
    justify-content:'center' ;
    align-items:'center';
    font-family: 'Inter','sans serif';

}
.AppGlass{
    display: grid;
    height: 97%;
    width: 97%;
    border-radius: 2rem;
    background-color: gray;
}